<!-- Define ACCESS_FINE_LOCATION if you will use enableHighAccuracy=true  -->
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

<!-- Define ACCESS_COARSE_LOCATION if you will use enableHighAccuracy=false  -->
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

<meta-data
  android:name="com.google.android.geo.AIzaSyC_gkGpo4lfPP7bVMqBeMfu2nB7JmRfgF0"
  android:value="AIzaSyC_gkGpo4lfPP7bVMqBeMfu2nB7JmRfgF0"/>